name: Image Processing CI/CD

on:
  push:
    branches: ["**"] # Triggers on ALL branches

jobs:
  quality-gate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Lint with Flake8
        run: |
          pip install flake8
          # Stops the build if there are syntax errors
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics

  build-test-and-push:
    needs: quality-gate
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Test inside Docker
        # We run the tests during the build to ensure only working images get pushed
        run: |
          docker build -t ghcr.io/richtervhon/testelective4mt:latest .
          docker run --name test-container ghcr.io/richtervhon/testelective4mt:latest pytest --html=report.html --self-contained-html
          docker cp test-container:/app/report.html .

      - name: Save Automated Logs
        uses: actions/upload-artifact@v4
        with:
          name: quality-report-run-${{ github.run_number }}
          path: report.html

      - name: Push Docker Image
        if: github.ref == 'refs/heads/main' # Only push the image to the registry if on main
        run: docker push ghcr.io/richtervhon/testelective4mt:latest